name: Linux Remote Desktop

on:
  workflow_dispatch:
    inputs:
      auth_code:
        description: 'أدخل كود المصادقة (Auth Code) من Google Remote Desktop'
        required: true
      pin_code:
        description: 'أدخل الرمز السري (PIN) المكون من 6 أرقام'
        required: true
        default: '123456'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: تحديث النظام وتثبيت الواجهة الرسومية
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y xfce4 xfce4-goodies xserver-xorg-video-dummy wget python3-psutil

      - name: تثبيت Chrome Remote Desktop
        run: |
          wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y ./chrome-remote-desktop_current_amd64.deb

      - name: إعداد المستخدم والجلسة
        run: |
          sudo useradd -m user
          sudo adduser user sudo
          echo "user:${{ github.event.inputs.pin_code }}" | sudo chpasswd
          # تم إصلاح السطر أدناه باستخدام tee لتجاوز مشكلة التصاريح
          echo "exec /etc/X11/Xsession /usr/bin/xfce4-session" | sudo tee /home/user/.chrome-remote-desktop-session > /dev/null
          sudo chown user:user /home/user/.chrome-remote-desktop-session

      - name: تشغيل الخدمة والاتصال
        run: |
          # تشغيل الخدمة كمستخدم عادي
          sudo -u user -i bash -c "${{ github.event.inputs.auth_code }} --pin=${{ github.event.inputs.pin_code }}" &
          
          echo "--- تم بدء التشغيل بنجاح! ---"
          
          # إبقاء الجلسة تعمل لمدة 6 ساعات
          sleep 21600
